@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>New Social Network</h1>
    <p class="lead">ASP.NET MVC Web Application</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

